[submodule "themes/iterm/catppuccin"]
	path = themes/iterm/catppuccin
	url = https://github.com/catppuccin/iterm.git
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
